* {
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Franklin Gothic Medium';
   
}
.main{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.navbar {
    height: 150px;
    width: 80%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}
.navbar-img {
    height: 65px;
}
.navbar-content {
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    -webkit-text-stroke: 1px;
}
.main1{
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main1-content-1 {
    height: 60%;
    width: 70%;
    
    color: white;
    justify-content: center;
}
.main1-content-1-l1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120px;
    -webkit-text-stroke: 3px;
    text-align: 5px;
}
.main1-content-11 {
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: 1px;
}
.main1-button{
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px;
    font-family: arial;
    border-radius: 40px;
    width: 300px;
    color: black;
    background-color: white;
    padding: 20px;
    height: 70px;
    width: 300px;
}

.main2{
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1-img1{
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.main3{
    height: 100vh;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg");
    padding: 0;
    margin: 0px;
    background-size: cover;
  background-position: center;
    object-fit: cover;
    position: relative;
    
}
.main3-head {
    height: 60%;
    width: 70%;
    
    font-size: 120px;

}
.main3-head1-content {
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px;
}
.main3-head1-content1{
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px;
}
.button-main3:hover{
    color: white;
    border:2px solid white;
}

.main4{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main4-top{
    height: 200px;
    width: 70%;
    
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}
.main4-head-content {
    color: #0f0f0f;
    font-size: 25px;
    -webkit-text-stroke: 1px;
}
.main4-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
}

.main4-content1{
    height: 50%;
    width: 70%;

}
.main4-head1{
    font-size: 100px;
    color: white;
    font-family: gilroy-bold;
    -webkit-text-stroke: 2px;

}
.main4-content1-1{
    color: white;
    font-size: 30px;
    font-family: courier new;
}
.main4-content1-2 {
    color: white;
    font-size: 20px;
    line-height: 25px;
}
.main4-button{
    color: black;
    background-color: white;
    border-radius: 30px;
    -webkit-text-stroke: 1px;
    font-size: 20px;
    height: 50px;
    width: 300px;
}
.main5{
    background-color: #0f0f0f;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main5-fieldset {
    background-color: #0f0f0f;
    height: 100%;
    width: 22%;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 20%;
   
}
.main5-photo {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  
}
.main6 {
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
}
.main7 {
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    
}
.main8 {
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    
}

.main9 {
    height: 100vh;
    width: 100%;
   
   
}
.main9-bc-photo{
    height: 100%;
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 500px;
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/neopop-image-mock.png");
}
.main10{
    height: 120vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/security-bg.jpg");
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main10-content{
    height: 70%;
    width: 70%;
}
.main10-head{
    color: white;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-size-adjust: 20px;
    width: 60%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main10-content-1 {
    color: white;
    width: 60%;
    font-size: 35px;
}
.main10-content-2{
    color: white;
    width: 60%;
    font-size: 20px;
    line-height: 25px;
}
.main10-button{
    color: #0f0f0f;
    background-color: white;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.main11 {
    height: 120vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("	https://web-images.credcdn.in/_next/assets/images/home-page/trust-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.main11-mid1{
    height: 70%;
    width: 80%;
    display: flex;
   align-items: center;
    justify-content: center;
    
   
}
.main11-mid-left{
    height: 30%;
    width: 30%;
    font-size: 60px;
    color: white;
}
.main11-mid-right{
    height: 80%;
    width:60% ;
    font-weight: -10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-family: gilroy-regular;
}
.main11-mid-r2 {
    height: 80%;
    line-height: 25px;
    width: 70%;
    color: white;
    font-size: 20px;
}
.main12 {
    height: 130vh;
    width: 100%;
    background-color: #0f0f0f;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main12-stars{
    height: 50%;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
}
.main12-star1 {
    height: 100%;
    width: 50%;
   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main12-star2 {
    height: 100%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main12-star1 p {
    font-size: 70px;
    color: white;
    text-align: end;
    line-height: 50px;
}
.main12-star2 p {
    font-size: 70px;
    color: white;
    text-align: end;
    line-height: 50px;
}
.main12-star1 p::before {
    content: "4.8";
    align-content: start;
    font-size: 140px;
    
}
.main12-star2 p::before {
    content: "4.7";
    align-content: start;
    font-size: 140px;
    
}
.main12-star1 button{
    height: 70px;
    width: 300px;
    border-radius: 35px;
    font-size: 20px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
.main12-star1 button  {
    
    border: 0px solid transparent;
}
.main12-star2 button {
    height: 70px;
    width: 300px;
    border-radius: 35px;
    font-size: 20px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
.main12-star2 button  {
    
    border: 0px solid transparent;
}
.main12-1 {
    width: 50%;
    color: white;
    text-align: center;
    font-size: 18px;
}
.main13-14-15{
    height: 300vh;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main13-14-15-main {
    height: 90%;
    width: 70%;
    
}
.main13-14-15-main p {
    color: white;
    font-size: 1.2rem;
}
.main13-14-15-main p1 {
    color: grey;
    line-height: 30px;
    font-size: 1.2rem;
}
.main16 {
    height: 100vh;
    width: 100%;
   background-color:  #0f0f0f;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main16-part {
    height: 80%;
    width: 70%;
    display: flex;
   justify-content: center;
   align-items: center;  
}
.main16-part1 {
    height: 100%;
    width: 50%;
}
.main16-part2 {
    height: 100%;
    width: 50%;
    display: flex;
    
    
    justify-content: center;
}
.main16-part p{
    font-size: 1.2rem;
    color: white;
    line-height: 30px;
}
.main16-part p1{
    font-size: 1.2rem;
    color: grey;
    line-height: 25px;
}
.main16-part2-2{
    height: 100%;
    width: 50%;
    line-height: 33px;
}